{% extends "layout.html.twig" %}

{% block content %}
    <form method="post" action="{{ path('user_login') }}">
        <input type="text" value="" name="email" /><br>
        <input type="password" value="" name="password" /><br>
        <input type="submit" value="Login" />
    </form>
{% endblock content %}